
.git/
.gitingnore

.idea
*.iws
*.iml
*.ipr

/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

.vscode/
.DS_Store
Thumbs.db

*.log

build/
out/

docker-compose*.yaml
Dockerfile*

*.tmp
*.bak
*.swp











